[Desktop Entry]
Name=Pika
X-KDE-PluginInfo-Name=Pika
X-KDE-PluginInfo-Author=Cosmo
X-KDE-PluginInfo-Email=hotrod.master@hotmail.com
X-KDE-PluginInfo-License=GPLv3
