#! /usr/bin/make -f

override_dh_install:
	dh_install
	mkdir -p debian/pika-kde-settings/usr/share/wallpapers/Pika/contents/images/
	ln -s /usr/share/backgrounds/pika/guard_it_well_okay__by_neytirix_ddcc1wt.jpg debian/pika-kde-settings/usr/share/wallpapers/Pika/contents/images/7680x4320.png
	ln -s /usr/share/backgrounds/pika/guard_it_well_okay__by_neytirix_ddcc1wt.jpg debian/pika-kde-settings/usr/share/wallpapers/Pika/contents/screenshot.png

%:
	dh $@
